*{
    padding: 0;
    margin: 0;
    border: 0;
}
/*обращение ко всем тегам, снимаем стандартные параметры тегам(у каждого тега свои параметры)*/
*,*:before, *:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    /*    убираем линии обводки у некоторых браузеров*/
}
nav,footer,header,aside{
    display: block;
}
html,body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
/*уравнивает поведеине шрифтов и элементов для разных браузеров, запрещает самовольное увелечение шрифта на айфонах*/
input,button,textarea{
    font-family: inherit;
}
input::-ms-clear{
    display: none;}
button{
    cursor: pointer;
}
button::-moz-focus-inner{
    padding: 0;
    border: 0;
}
a, a:visited{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
ul li{
    list-style: none;
}
img{
    vertical-align: top;
}
h1,h2,h3,h4,h5,h6{
    font-size: inherit;
    font-weight: 400;
}
p{
    font-family: Arial;
}
h1{
    font-family: Arial;
    font-size: 30px;
    font-weight: 500;
    margin-left: 53px;
    margin-top: 54px;
    color: #445161;
}
.p2{
    font-size: 14px;
    line-height: 25px;
    margin-left: 50px;
    color: #333333;
}
h2{
    font-family: Arial;
    font-size: 25px;
    line-height: 30px;
    color: #445161;
    margin-left: 51px;
}
.p4{
    font-size: 14px;
    line-height: 14px;
    font-weight: 600;
    margin-left: 53px;
    color: #333333;
}
.p5{
    font-size: 14px;
    line-height: 14px;
    margin-left: 52px;
    color: #ff0000;
}
.p6{
    font-size: 20px;
    line-height: 30px;
    margin-left: 50px;
    color: #445161;
    font-weight: 500;
}
.p7{
    font-size: 14px;
    line-height: 14px;
    color: #333333;
    text-align: right;
    margin-right: 50px;
}
.p8{
    font-size: 14px;
    line-height: 14px;
    color: #333333;
    margin-left: 50px;
    text-transform: uppercase;
}
.p9{
    font-size: 14px;
    line-height: 14px;
    color: #333333;
    font-style: italic;
    margin-left: 51px;
}
.p10{
    font-size: 14px;
    line-height: 14px;
    color: #333333;
    margin-left: 50px;
    text-decoration: underline;
}
.p11{
    font-size: 14px;
    line-height: 14px;
    color: #333333;
    text-align: center;
}
.p12{
    font-size: 24px;
    line-height: 24px;
    color: #333333;
    margin-left: 50px;
}
.p13{
    font-size: 14px;
    line-height: 14px;
    color: #333333;
    margin-left: 50px;
    text-decoration: line-through;
}
.p14{
    font-family: "Times New Roman";
    font-size: 14px;
    line-height: 14px;
    color: #333333;
    margin-left: 51px;
}
.p15{
    font-size: 14px;
    line-height: 14px;
    color: #333333;
    margin-left: 50px;
    text-shadow: 1px 1px 1px #000000;
}
